{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="container xl:w-5/6 lg:w-4/5 md:w-3/4 pb-10 border p-10 border-gray-400 mx-auto">
    
    {% comment %} <div class="container mx-auto pb-10 flex flex-col items-center">
        <form method="get" action="{% url "rooms:search" %}">
            
            {% for element in form %}
            <div class="mb-10">
                {{element}}
            </div>
            {% endfor %} {% endcomment %}
    <h2 class="mb-2 text-2xl text-black">Search</h2>
    <form method="get" action="{% url "rooms:search" %}"> 
    <div class="flex flex-wrap mx-10">
    
        <div class="flex flex-wrap">       
            <div class="mr-5 w-1/3">
                <label for="city">City</label>
                <input value="{{city}}" id="city" name="city" placeholder="Search by City" />
            </div>

            <div class="mr-5 w-1/4">
                <label for="country">Country</label>
                <select id="country" name="country" >
                    {% for country in countries %}
                        <option value="{{country.code}}" {% if country.code == selected_country  %} selected
                        {% endif %}> {{country.name}}</option>            
                    {% endfor %}
                </select>
            </div>

            <div class="mr-5 w-1/4">
                <label for="room_type">Room Type</label>
                <select id="room_type" name="room_type" >
                    <option value="0" {% if selected_room_type == 0 %}selected{% endif %}>Any Kind</option>
                    {% for room_type in room_types %}
                        <option value="{{room_type.pk}}" {% if selected_room_type == room_type.pk %}selected{% endif %}> {{room_type.name}}</option>            
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="mr-5 w-1/6">
                <label for="price">Price</label>
                <input value="{{price}}" type="number" name="price" id="price" placeholder="price" />
            </div>

            <div class="mr-5 w-1/6">
                <label for="guests">Guests</label>
                <input value="{{guests}}" type="number" name="guests" id="guests" placeholder="guests" />
            </div>
    
            <div class="mr-5 w-1/6">
                <label for="bedrooms">Bedrooms</label>
                <input value="{{bedrooms}}" type="number" name="bedrooms" id="bedrooms" placeholder="bedrooms" />
            </div>
            <div class="mr-5 w-1/6">
                <label for="beds">Beds</label>
                <input value="{{beds}}" type="number" name="beds" id="beds" placeholder="beds" />
            </div>
            <div class="mr-5 w-1/6">
                <label for="baths">Baths</label>
                <input value="{{baths}}" type="number" name="baths" id="baths" placeholder="baths" />
            </div>

            <div>
                <label for="instant">Instant Book Only?</label>
                <input type="checkbox" name="instant" id="instant" {% if instant %}checked{% endif %} />
            </div>
            <div>
                <label for="superhost">By Superhost Only?</label>
                <input type="checkbox" name="superhost" id="superhost" {% if superhost %}checked{% endif %} />
            </div>
        </div>
        
    

        <div class="container pb-5 w-auto">
            <h3 class="mb-1 text-2xl">Amenities<h3>
            <ul>
            <div class="flex flex-wrap mb-5">
            {% for amenity in amenities %}
                <li> 
                    <label for ="a_{{amenity.pk}}">{{amenity.name}}</label>
                    <input 
                        id="a_{{amenity.pk}}" 
                        name="amenities" 
                        class="mx-3"
                        type="checkbox" 
                        value={{amenity.pk}} 
                        {% if amenity.pk|slugify in selected_amenities %}
                            checked
                        {% endif %}/>
                </li>
            {% endfor %}
            </div>
            </ul>

            <h3 class="mb-1 text-2xl">Facilities<h3>
            <ul>
            <div class="flex flex-wrap mb-3">
            {% for facility in facilities %}
                <li> 
                    <label for ="f_{{facility.pk}}">{{facility.name}}</label>
                    <input 
                        id="f_{{facility.pk}}" 
                        name="facilities"
                        class="mx-3"
                        type="checkbox" 
                        value={{facility.pk}} 
                        {% if facility.pk|slugify in selected_facilities %}
                            checked
                        {% endif %}/>
                    
                </li>
            {% endfor %}
            </div>
            </ul>
        </div>
    
        <button class="btn-link">Search</button>
    </div>
    </form>    
</div>

{% if rooms.count > 0 %}
<div class="container mx-auto pb-10 w-1/4 flex flex-col items-center">
    <h3 class="mb-12 text-2xl text-center mt-10">Results</h3>
        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in rooms  %}
                {% include 'mixins/room_card_profile.html' with room=room %} 
            {% endfor %}
        </div>
</div>
{% else %}
    <div>
        <h3 class="mb-12 text-2xl text-center">No Results</h3>
    </div>
{% endif %}

{% endblock content %}